@(products: List[Product])

@main("Product Manager") {
    <h2>Product Manager</h2>
    <div>
        <div>
            <form action="" method="post">
                <input type="text" name="taskName" placeholder="Add a
              new Task" required>
                <input type="submit" value="Add">
            </form>
        </div>
    </div>
    <div>
        <ul>
        @products.map { product =>
            <li>
                @product.name
                @product.price
                @product.productType
            </li>
        }
        </ul>
    </div>
}